@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

/**  Basic Page CSS **/

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;
  padding-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}


/**  Header Navigation **/

header {
  font-weight: 500;
}

header .navbar {
  padding: 30px 30px;
  transition: all .5s ease-out;
}

header .navbar-default {
  background-color: transparent;
  border: none;
}

header .navbar-default .navbar-nav a {
  color: white;
  padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
  font-weight: bold;
  color: white;
}

header .navbar-default .navbar-nav .active a {
  font-weight: bold;
  color: white;
  background: transparent;
  text-shadow: none;
  border-bottom: 4px solid white;
}

header .navbar-default .navbar-nav .active a:hover {
  color: white;
  background: transparent;
  border-bottom: 4px solid white;
  text-shadow: none;
}


/**  Navbar Brand **/

header .navbar-brand {
  background-repeat: no-repeat;
  background-position: 15px;
  height: auto;
  font-weight: 300;
  font-size: 1.5em;
  padding: 5px 8px;
}

header .navbar-brand h1 {
  color: white;
  margin: 0;
  font-size: 1.8em;
  font-weight: 400;
  padding-left: 20px;
}

header .navbar-brand span.subhead {
  display: block;
  font-size: .6em;
  font-weight: 100;
}


/**  Navbar Toggle **/

header .navbar-toggle {
  background-color: white;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: lightgray;
}

@media only screen and (max-width: 768px) {
  header .navbar-collapse.in {
    background-color: gray;
  }
}


/**  nav inbody **/

header .inbody {
    background: gray;
}

header .navbar.inbody {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar.inbody .navbar-nav {
  padding-top: 10px;
}

header .inbody .navbar-brand {
  background-size: 43px;
  background-position: top left;
  margin-top: 5px;
  padding-bottom: 0;
  margin-left: 10px;
}

header .inbody .navbar-brand h1 {
  font-size: 1.1em;
  padding-left: 38px;
}

header .inbody .navbar-brand span.subhead {
  display: none;
}


/**  Carousel Fade **/

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.carousel-control {
  opacity: 0;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

#home .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}


/**  Page **/
.page {
  padding: 50px 0;
}

.page h2 {
  text-align: center;
  margin-bottom: 20px;
}


/**  Page -- About **/
#about {
  background-image: linear-gradient(to bottom, #ffe6ae, white);
}

/**  Page -- Skills **/

#skills {
  padding: 0;
}

#skills article {
  margin: 0;
  padding: 0;
  border-left: none;
  min-height: 500px;
  position: relative;
}

#skills article .quote {
  background-color: transparent;
  padding: 20px 5%;
  position: absolute;
  top: 0;
  width: 100%;
  font-weight: 400;
  border-radius: 0 0 50px 50px;
}

#skills article .quote:hover {
  background-color: rgba(255, 255, 255, .6);
}

#skills #web-dev {
  background: url(../images/icons/skills-webdev.jpg) no-repeat center center;
  background-size: cover;
}

#skills #data {
  background: url(../images/icons/skills-datamining.jpeg) no-repeat center center;
  background-size: cover;
}

#skills #mobile {
  background: url(../images/icons/skills-mobiledev.jpg) no-repeat center center;
  background-size: cover;
}

#skills .quote {
  font-size: 1.2em;
  line-height: 110%;
  font-weight: 400;
  text-align: center;
}

#skills .quote .more,
#skills .customer {
  opacity: 0;
  font-size: 0;
  line-height: 0;
  padding-top: 10px;
}

#skills .quote:hover .more {
  font-weight: 100;
  display: block;
  opacity: 1;
  font-size: .8em;
  line-height: 120%;
}


#skills .quote .intro::after {
  content: '...';
}

#skills .quote:hover .intro::after {
  content: '';
}


/**  logo  **/
.logo {
  margin: 20px 0;
  text-align: center;
}



#logo {
    width: 120px;
    height: 120px;
}

/**  Page -- languages **/
#languages {
  background-color: white;
}

#languages img.icon {
  display: block;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 15px;
}

#languages h3 {
  margin-bottom: 10px;
  
}

@media only screen and (min-width: 450px) and (max-width: 768px) {
  .logo p {
    padding: 0 20%;
  }
}


/**  Page -- Tools **/
#tools {
  background-color: white;
}

#tools h3 {
  margin-bottom: 0px;
}

@media only screen and (min-width: 450px) and (max-width: 768px) {
  .logo p {
    padding: 0 20%;
  }
}


/**  Page -- Awards **/
#awards img.icon {
  display: block;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 5px;
}

#awards h3 {
  margin-bottom: 10px;
}

@media only screen and (min-width: 450px) and (max-width: 768px) {
  .logo p {
    padding: 0 20%;
  }
}


/**  Page -- Project Web **/

#project-web {
  background-color: #fcdc4c;
}

#project-web .project{
  margin-bottom: 35px;
}

/**  Page -- Project Android **/

#project-android {
  background-color: #f25123;
  color: white;
}

#project-android .info {
  margin-top: 20px;
}

#project-android h3 {
  color: white;
}

/**  Page -- Project iOS **/

#project-ios {
  background-color: #01b9ff;
  color: white;
}

#project-ios .info {
  margin-top: 20px;
}

#project-ios h3 {
  color: white;
}

.project {
  margin: 10px 0;
}

.project h3 {
  font-size: 1em;
  color: #6F4E36;
  padding-bottom: 10px;
}

.project p {
  font-size: .8em;
}

.project img {
  width: 100%;
}





/**  Footer **/

footer nav{
  background: white;
  color: gray;
  font-size: 0.8em;
  font-weight: 400;
  padding: 15px 0 15px 0;
}
footer footer {
  background: white;
}

footer a {
  color: gray;
}

footer a:hover {
  color: gray;
  text-decoration: none;
  font-weight: bold;
}


